* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mukta', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

p {
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 3rem;
}

section {
    height: 360px;
    width: 700px;
    background-color: rgb(243, 243, 243);
    border-radius: 20px 20px 0px 0px;
    
    padding: 10px;
    font-size: 1.1rem;
    color: rgba(116, 116, 116, 0.842);
}

.grid {
    display: grid;
    gap: 1px;
}

#en {
    grid-area: en;

    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;

    background-color: rgba(0, 0, 255, 0.705);
    color: rgb(255, 255, 255);
    border: none;

    transition: 0.1s;
}

#en:hover {
    background-color: rgba(11, 11, 153, 0.87);
    cursor: pointer;
}

#pt {
    grid-area: pt;

    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;

    background-color: green;
    color: white;
    border: none;

    transition: 0.1s;
}

#pt:hover {
    background-color: rgba(2, 87, 2, 0.918);
    cursor: pointer;

}

#jp {
    grid-area: jp;

    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;

    background-color: red;
    color: white;
    border: none;

    transition: 0.1s;
}

#jp:hover {
    background-color: rgb(160, 3, 3);
    cursor: pointer;
}

#copy {
    grid-area: copy;

    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;

    background-color: rgb(51, 179, 34);
    color: white;
    border: none;
    border-radius: 0px 0px 0px 0px;

    transition: 0.1s;
}

#copy:hover {
    background-color: rgba(51, 179, 34, 0.842);
    cursor: pointer;
}

#copyall {
    grid-area: all;

    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;

    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 0px 0px 20px 20px;

    transition: 0.1s;
}

#copyall:hover {
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}

.buttons {
    grid-template-areas: 
    "pt en jp"
    "copy copy copy"
    "all all all"; 

    height: 128px;
    width: 700px;

    
}